#NavHeader{
    width: 70%;
    display:flex;
    flex-direction: column;
    margin: auto;
}
#NavList{
    flex-direction: row;
    display: flex;
    visibility: visible;
    height: 60px;
    background-color: #262b31;
    border: 0;
    flex: 0 1 100%;
    padding: 0;
    justify-content: flex-start;
}

#NavFill{
    display: none;
    visibility: hidden;
}
.NavSpacer{
    width:5px;
    height: 60px;
    display: flex;
    padding: 0;
    background-color: #262b31;
    flex-direction: column;
    display: flex;
}
.NavSpacer > div.NavSpacerMid{
    height:45px;
    width: 100%;
    background-color: #303030;
}
.NavSpacer > div.NavSpacerFirst{
    height: 7.5px;
    width: 100%;
    background-color: #262b31;
}
.NavBox{
    padding: 0 20px;
    text-align: center;
    text-wrap: wrap;
    color: #ffffff;
    text-align: center;
    font-size: medium;
    height: auto;
    width: auto;
}
#NavContainer{
    border: 0;
    background-color: #262b31;
    flex-wrap: nowrap;
}
#NavBarContainer{
    flex: 0;
    border: 0;
}


/* all pages */
#MainPage{
    border: 0;
    background-color: #383e44;
}
#MidPage{
    flex: 0 1 1000px;
}


/* Index page */
.RowedDisplayBoxes{
    padding-top: 20px;
}
.TextDisplayBox{
    flex: 0 1 50%;
    padding: 0 10px;
}
.ImageDisplayBox{
    flex: 0 1 50%;
    padding: 0 10px;
}


/* Login page */
#CloudLogin > p{
    margin: 7px 0 15px 0;
}
#ContactName{
    flex-direction: row;
}
#ContactName > input{
    margin-right: 5px;
    width: 25%;
}
#ContactPass{
    flex-direction: row;
}
#ContactPass > input{
    margin-right: 5px;
    width: 25%;
}
#AdminLvl{
    flex-direction: row;
}
#AdminLvl > input{
    margin-right: 5px;
    width: 30px;
}